*,
*::before,
*::after {
  box-sizing: border-box;  
  padding: 0;         
  margin: 0;          
  gap: 20px;             
}

body {
  background-color: rgb(255, 213, 225);  
  color: #000000;                      
  padding: 20px;                        
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100vh;                   
}

